openapi: 3.0.3
info:
  title: Boreal AnyRide API
  version: "2026-09-07"
  description: |
    Unofficial contract for the undocumented API used by the Boreal AnyRide
    real-time information client embedded by Lokaltrafiken Kiruna.

    Call GetConfigOptions first, then use its profileData and profileDisplay
    values as the anyride-profile-data and anyride-profile-display headers.
    This contract describes observed behavior and is not an official stability
    guarantee from the API provider.
servers:
  - url: https://boreal.tmix.se/Tmix.Cap.Ti.Process.AnyRide/api
paths:
  /GetConfigOptions:
    get:
      operationId: getConfigOptions
      summary: Get client configuration and profile values
      parameters:
        - name: profile
          in: query
          required: false
          schema:
            type: string
          description: Display profile. An empty value selects the site default.
        - name: language
          in: query
          required: false
          schema:
            type: string
          description: Requested language, such as sv.
      responses:
        "200":
          description: Client configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigOptions"
  /Autocomplete:
    get:
      operationId: autocompleteStops
      summary: Search for stops by name or stop number
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
        - name: query
          in: query
          required: true
          schema:
            type: string
          example: Stadshus
      responses:
        "200":
          description: Matching stop display strings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Stadshustorget (84064)
  /FindStopArea:
    post:
      operationId: findStopArea
      summary: Resolve a stop display string
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindStopAreaRequest"
      responses:
        "200":
          description: Resolved stop, or null when it cannot be found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/StopArea"
                nullable: true
  /FindStopsNearLocation:
    post:
      operationId: findStopsNearLocation
      summary: Find stops near a geographic coordinate
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindStopsNearLocationRequest"
      responses:
        "200":
          description: Nearby stops
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StopArea"
  /GetLines:
    get:
      operationId: getLines
      summary: List lines for the selected data profile
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      responses:
        "200":
          description: Transit lines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Line"
  /GetDirections:
    get:
      operationId: getDirections
      summary: List directions for a line
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
        - name: lineId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Available directions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Direction"
  /GetStopAreas:
    post:
      operationId: getStopAreas
      summary: List stops for a line and optional direction
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetStopAreasRequest"
      responses:
        "200":
          description: Stops served by the line
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StopArea"
  /GetCalls:
    post:
      operationId: getCalls
      summary: Get scheduled and real-time departures
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCallsRequest"
      responses:
        "200":
          description: Grouped calls and traffic messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallsResponse"
  /GetMapRoute:
    get:
      operationId: getMapRoute
      summary: Get route geometry
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
        - name: routeId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Route appearance and ordered coordinates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapRoute"
  /GetVehiclePosition:
    get:
      operationId: getVehiclePosition
      summary: Get the current vehicle position for a call
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
        - name: callId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Current position, or null when no position is available
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/VehiclePosition"
                nullable: true
  /GetVehiclePositions:
    get:
      operationId: getVehiclePositions
      summary: Get all vehicle positions exposed by the profile
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
      responses:
        "200":
          description: Current vehicle positions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VehiclePosition"
  /GetSystemTimestamp:
    get:
      operationId: getSystemTimestamp
      summary: Compare client and API timestamps
      parameters:
        - $ref: "#/components/parameters/ProfileData"
        - $ref: "#/components/parameters/ProfileDisplay"
        - name: clientTimestamp
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Server timestamp and echoed client timestamp
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemTimestamp"
components:
  parameters:
    ProfileData:
      name: anyride-profile-data
      in: header
      required: true
      description: Data profile returned as profileData by GetConfigOptions.
      schema:
        type: string
        default: boreal_kiruna
    ProfileDisplay:
      name: anyride-profile-display
      in: header
      required: true
      description: Display profile returned as profileDisplay by GetConfigOptions.
      schema:
        type: string
        default: boreal
  schemas:
    ConfigOptions:
      type: object
      required:
        - profileData
        - profileDisplay
        - centerLat
        - centerLon
        - useDirection
        - title
        - textLanguage
      properties:
        profileData:
          type: string
          example: boreal_kiruna
        profileDisplay:
          type: string
          example: boreal
        title:
          type: string
          example: Boreal - AnyRide - Realtime Information
        textLanguage:
          type: string
          example: sv
        defaultLanguage:
          type: string
          example: sv
        allowedLanguages:
          type: array
          items:
            type: string
        locale:
          type: string
          nullable: true
        centerLat:
          type: number
          format: double
          example: 60.890718
        centerLon:
          type: number
          format: double
          example: 8.433691
        mapMaxCount:
          type: integer
          nullable: true
        mapMaxDistance:
          type: number
          nullable: true
        zoom:
          type: integer
        minZoom:
          type: integer
        useDirection:
          type: boolean
        showVehicleLocations:
          type: boolean
        hideRouteStopSelection:
          type: boolean
        displayRowMapExpanded:
          type: boolean
        showAllStopsCancelledText:
          type: boolean
        useNewTable:
          type: boolean
        newTableMessagesAtTop:
          type: boolean
        rowGrouping:
          type: array
          items:
            type: string
        rowOrder:
          type: array
          items:
            type: string
        rowData:
          type: array
          items: {}
        rowLabel:
          type: string
        formatClock:
          type: string
        formatAbsoluteTime:
          type: string
        formatRelativeTime:
          type: string
        formatForecastTime:
          type: array
          items:
            $ref: "#/components/schemas/ForecastTimeFormat"
        tiles:
          $ref: "#/components/schemas/TileConfiguration"
        occupancy:
          $ref: "#/components/schemas/OccupancyConfiguration"
        frames:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties: true
      additionalProperties: true
    ForecastTimeFormat:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          example: RelativeTime
        time:
          type: string
          nullable: true
          example: "00:30:00"
    TileConfiguration:
      type: object
      required:
        - urlTemplate
      properties:
        renderer:
          type: string
        urlTemplate:
          type: string
          format: uri
        options:
          type: array
          items:
            type: object
            additionalProperties: true
    OccupancyConfiguration:
      type: object
      properties:
        levels:
          type: array
          items:
            $ref: "#/components/schemas/OccupancyLevel"
    OccupancyLevel:
      type: object
      properties:
        from:
          type: number
        to:
          type: number
        image:
          type: string
        label:
          type: string
        description:
          type: string
    Line:
      type: object
      required:
        - id
        - text
      properties:
        id:
          type: integer
          format: int64
          example: 110000550
        text:
          type: string
          example: Grön - Grön. Tuolluvaara - Nya C - Lombolo - Gamla C - Porfyren
    Direction:
      type: object
      required:
        - id
        - text
      properties:
        id:
          type: integer
          format: int64
          example: 110000001
        text:
          type: string
          example: "1"
    Location:
      type: object
      required:
        - lat
        - lon
      properties:
        alt:
          type: number
          format: double
          default: 0
        lat:
          type: number
          format: double
          example: 67.84825
        lon:
          type: number
          format: double
          example: 20.30303
    StopArea:
      type: object
      required:
        - id
        - text
      properties:
        id:
          type: integer
          format: int64
          example: 110084064
        externalId:
          type: string
          example: "84064"
        text:
          type: string
          example: Stadshustorget (84064)
        location:
          allOf:
            - $ref: "#/components/schemas/Location"
          nullable: true
    FindStopAreaRequest:
      type: object
      required:
        - StopAreaQuery
      properties:
        StopAreaQuery:
          type: string
          example: Stadshustorget (84064)
    FindStopsNearLocationRequest:
      type: object
      required:
        - coordinate
      properties:
        coordinate:
          $ref: "#/components/schemas/Location"
        maxCount:
          type: integer
          nullable: true
        maxDistance:
          type: number
          format: double
          nullable: true
          description: Maximum distance according to the service configuration.
    GetStopAreasRequest:
      type: object
      required:
        - lineId
      properties:
        lineId:
          type: integer
          format: int64
          example: 110000550
        directionId:
          type: integer
          format: int64
          nullable: true
    GetCallsRequest:
      type: object
      required:
        - query
        - configuration
      properties:
        query:
          $ref: "#/components/schemas/CallsQuery"
        configuration:
          $ref: "#/components/schemas/CallsConfiguration"
    CallsQuery:
      type: object
      required:
        - fromStopAreaQuery
        - toStopAreaName
        - lineId
        - directionId
      properties:
        fromStopAreaQuery:
          type: string
          example: Stadshustorget (84064)
        toStopAreaName:
          type: string
          example: ""
        lineId:
          type: integer
          format: int64
          description: Use 0 to include all lines.
          default: 0
        directionId:
          type: integer
          format: int64
          description: Use 0 when no direction filter is selected.
          default: 0
    CallsConfiguration:
      type: object
      required:
        - grouping
      properties:
        grouping:
          type: array
          items:
            type: string
          example:
            - Line
            - Destination1
    GetCallsResponse:
      type: object
      required:
        - isStopCancelled
        - calls
        - messages
      properties:
        isStopCancelled:
          type: boolean
        calls:
          type: array
          items:
            $ref: "#/components/schemas/CallGroup"
        messages:
          type: array
          items:
            $ref: "#/components/schemas/TrafficMessage"
    CallGroup:
      type: object
      required:
        - id
        - calls
      properties:
        id:
          type: string
          example: l:110000548/dest1:110001090
        calls:
          type: array
          items:
            $ref: "#/components/schemas/TransitCall"
    TransitCall:
      type: object
      required:
        - id
        - key
        - lineId
        - routeId
        - journeyId
        - stopPointId
        - sequenceNumber
        - line
        - lineAppearance
        - journey
        - destination
        - subdestination
        - createdTime
      properties:
        id:
          type: string
          description: Call ID accepted by GetVehiclePosition.
          example: "84120839"
        key:
          type: string
          example: "1"
        lineId:
          type: integer
          format: int64
        routeId:
          type: integer
          format: int64
          description: Route ID accepted by GetMapRoute.
        journeyId:
          type: integer
          format: int64
        stopPointId:
          type: integer
          format: int64
        sequenceNumber:
          type: integer
          format: int32
        line:
          type: string
          example: Röd.
        lineAppearance:
          $ref: "#/components/schemas/LineAppearance"
        journey:
          type: string
        destination:
          type: string
        subdestination:
          type: string
        arrival:
          allOf:
            - $ref: "#/components/schemas/Forecast"
          nullable: true
        departure:
          allOf:
            - $ref: "#/components/schemas/Forecast"
          nullable: true
        createdTime:
          type: string
          format: date-time
    Forecast:
      type: object
      required:
        - forecastTime
        - plannedTime
        - quality
        - attributes
      properties:
        journeyType:
          type: string
          example: Ordinary
        forecastTime:
          type: string
          format: date-time
        plannedTime:
          type: string
          format: date-time
        quality:
          type: string
          example: realtime
        attributes:
          type: array
          items:
            type: string
        designation:
          type: string
          nullable: true
          example: A
        vehicleType:
          type: string
          nullable: true
        occupancyPercent:
          type: number
          nullable: true
    LineAppearance:
      type: object
      properties:
        background:
          type: string
          example: "#000000"
        foreground:
          type: string
          example: "#FFFFFF"
        fontStyle:
          type: string
          example: regular
    TrafficMessage:
      type: object
      required:
        - id
        - text
        - affectedCalls
        - isDisturbance
        - isInfo
      properties:
        id:
          type: integer
          format: int64
        text:
          type: string
        priority:
          type: integer
          nullable: true
        affectedCalls:
          type: array
          items:
            type: string
        isDisturbance:
          type: boolean
        isInfo:
          type: boolean
        lines:
          type: array
          items:
            $ref: "#/components/schemas/MessageLine"
    MessageLine:
      type: object
      properties:
        lineId:
          type: integer
          format: int64
        lineName:
          type: string
        lineAppearance:
          $ref: "#/components/schemas/LineAppearance"
    MapRoute:
      type: object
      required:
        - locations
      properties:
        lineAppearance:
          $ref: "#/components/schemas/LineAppearance"
        locations:
          type: array
          items:
            $ref: "#/components/schemas/Location"
    VehiclePosition:
      type: object
      required:
        - id
        - classes
        - timestamp
        - heading
        - location
      properties:
        id:
          type: string
          example: "84120775"
        displayName:
          type: string
          nullable: true
        classes:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time
        heading:
          type: number
          format: double
        location:
          $ref: "#/components/schemas/Location"
    SystemTimestamp:
      type: object
      required:
        - systemTimestamp
        - clientTimestamp
      properties:
        systemTimestamp:
          type: string
          format: date-time
        clientTimestamp:
          type: string
          format: date-time
